[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
langchain-mongodb = "*"
langchain-aws = "*"
dotenv = "*"
python-dotenv = "*"
voyageai = "*"
openai = "*"
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.12"
